<form [formGroup]="addLessonForm" (ngSubmit)="onSubmit()" class="row">
  <div class="form-group col-md-12">
    <label for="name" class="col-md-12">Enter Lesson</label>
    <input type="text"
           id="name"
           class="form-control col-md-8 d-inline-block"
           name="name"
           placeholder="Name"
           formControlName="name">
    <button type="submit" class="btn btn-primary col-md-3 offset-md-1">Add</button>
    <span
      *ngIf="!addLessonForm.get('name').valid && addLessonForm.get('name').touched"
      class="error">
              <span
                *ngIf="addLessonForm.get('name').errors['minlength']">
                Lesson name is too short!
              </span>
              <span
                *ngIf="addLessonForm.get('name').errors['required']">
                Lesson name is required!
              </span>
    </span>
    <textarea class="form-control mt-2"
              name="content"
              rows="4"
              formControlName="content"></textarea>
    <span
      *ngIf="!addLessonForm.get('content').valid && addLessonForm.get('content').touched"
      class="error">
              <span
                *ngIf="addLessonForm.get('content').errors['minlength']">
                Lesson content is too short!
              </span>
              <span
                *ngIf="addLessonForm.get('content').errors['required']">
                Lesson content is required!
              </span>
    </span>
  </div>
</form>
