td, th {
  text-align: center;
}
.current {
  background-color: lightslategray;
}
tr {
  cursor: pointer;
}
a {
  display: block;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
